.main {
    width: 100%;
}

.header {
    width: 100%;
    height: 150px;
}

.header-top {
    width: 100%;
    height: 100px;
    display: flex;
}

.header-logo {
    width: 250px;
    height: 100%;
}

.header-news {
    flex: 1;
    display: flex;
}

.header-news-item {
    width: 32%;
    display: flex;
}

.header-news-item-img {
    width: 100px;
}

.header-news-item-img img {
    width: 100%
}

.header-news-item-content {
    flex: 1;
}

.header-bottom {
    width: 100%;
    height: 50px;
}

.header-bottom > ul {
    margin: 0;
}

.header-bottom > ul > li {
    display: inline-block;
    margin-right: 15px;
}

.header-bottom > ul > li > a {
    text-decoration: none;
}

/*content section*/
.content {
    display: flex;
    gap: 20px;
    width: 100%;
}
.content-left{
    width: 25%;
}
.content-left-item{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.content-left-item-title{
    width: 60%;
}
.content-left-item-img{
    width: 40%;
}
.content-left-item-img img{
    width: 100%;
}
.content-center{
    width: 50%;
}
.content-center-item{
    display: flex;
    width: 100%;
    gap: 20px;
}
.content-center-item-title{
    width: 60%;
}.content-center-item-img{
    width: 40%;
}
.content-center-item-img img{
    width: 100%;
}
.content-right{
    width: 25%;
}